<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="msci3300_g1ConnectionString" connectionString="Data Source=apollo.biz.uiowa.edu;Initial Catalog=msci3300_g1;Persist Security Info=True;User ID=msci3300_g1;Password=Group1password!"
      providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>

    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g0; Persist Security Info=True; User ID=msci3300_g0; Password=pAssw0rd!!"/>

    <add name="db_stateFacts" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g0; Persist Security Info=True; User ID=msci3300_g0; Password=pAssw0rd!!" providerName="System.Data.SqlClient"/>


  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>

</configuration>